@page "/caixa"

<PageTitle>Caixa</PageTitle>

<PageTitle>Caixa</PageTitle>
<div class="card border-primary mb-1" style="box-shadow:10px 5px 5px black; min-height:40rem;">
  <div class="card-header" style="display:flex"><h1> - Bem Vindo!!! <smal> - Esta é a Maquina de Troco -</smal></h1></div>
	<div class="card-body" style="padding:3rem;">
			<div class="container" style="display:flex;">
				<div class="row gx-5">	
				
				<!--Componente que Gera info do Caixa na tela-->
				<div class="col" style="min-width:350px; margin-top:0;">
					<ul class="list-group">
						<a href="#" class="txt-center list-group-item list-group-item-action active">
							<h2 style="tex-align:center; text-align:center;">$$ CAIXA $$</h2>
						</a>
						@foreach (var moeda in moedasCaixa)
						{
							<li class="list-group-item d-flex justify-content-between align-items-center">
									<h5>Moedas @moeda.Nome</h5>
								<span class="badge bg-primary rounded-pill-lg" style="font-size:1rem;">@moeda.Qtd</span>
							</li>	
						}
					</ul>
				</div>

				<!--Componente de Informação (qtd Moedas e Valor Total)-->
				<div class="col-1" style="padding:2rem; min-width:350px; display: flex; justify-content: center;">
					<fieldset class="form-group">
						<legend class="mt-4"><h1 style="padding-left:1.5rem;">Informações</h1></legend>
						<div class="form-check form-switch">
							<label class="form-check-label" for="flexSwitchCheckDefault"><h5>Valor Total das Moedas</h5></label>						
							<label class="form-check-label" for="flexSwitchCheckDefault"><h5 style="font-size: xx-large; padding-left:2.5rem;">R$26,95</h5></label>
						</div>
					  <div class="form-check form-switch">
						<label class="form-check-label" for="flexSwitchCheckChecked"><h5>Quantidade Totaldas Moedas</h5></label>
						<label class="form-check-label" for="flexSwitchCheckDefault"><h5 style="font-size: xxx-large; padding-left:5.5rem;">14</h5></label>
					  </div>
					</fieldset>
				</div>

				<!--Componente Abastecer Moedas-->
				<div class="col card text-white bg-success mb-3" style="box-shadow: 10px 5px 5px black; min-width:400px; margin-top:1rem; text-align: center;">
					<div class="card-header">
						<h1><strong>Abastecer Moedas</strong></h1>
					</div>
					<div class="card-body">
						<form>
								<h5>Escolha a Moeda Que Você Deseja Abastecer:</h5>
								<div class="form-group">
								<fieldset class="form-group">
									<label for="customRange3" class="form-label"><h2>@nomesMoedas[@idMoedaSelected]</h2></label>
									<input type="range" class="form-range" style="max-width:350px;" min="0" max="5" step="1" id="customRange3"@bind-value="@idMoedaSelected">
								</fieldset>

								<div class="input-group mb-3" style="display: flex; justify-content: center;">
									<span class="input-group-text">$</span>
										<input type="text" class="form-control" style="font-size: xx-large; text-align: center; max-width:200px;" aria-label="Amount (to the nearest dollar)" @bind-value="@qtdMoedasSelected">
									<span class="input-group-text">$</span>
									<button class="btn btn-secondary" type="button" id="button-addon2" @onclick="AbasteceMoedas"><h5>Adicionar <br/> Quantidade</h5></button>
								</div>
							</div>	
						</form>
					</div>
				</div>
			</div>
		</div>

		<div class="row gx-5">	
			<div class="container" style="display:flex;">
				<!--Componente Sangria de Moedas-->
				<div class="col-5 card text-white bg-danger mb-3" style="box-shadow: 10px 5px 5px black; min-width:350px; margin:1rem; text-align: center;">
					<div class="card-header">
						<h1><strong>Sangria de Moedas</strong></h1>
					</div>
					<div class="card-body"
						<form>
								<h5>Escolha a Moeda Que Você Deseja Abastecer:</h5>
								<div class="form-group">
								<fieldset class="form-group">
									<label for="customRange3" class="form-label"><h2>@nomesMoedas[@idMoedaSelected]</h2></label>
									<input type="range" class="form-range" style="max-width:450px;" min="0" max="5" step="1" id="customRange3"@bind-value="@idMoedaSelected">
								</fieldset>

								<div class="input-group mb-3" style="display: flex; justify-content: center;">
									<span class="input-group-text">$</span>
										<input type="text" class="form-control" style="font-size: xx-large; text-align: center; max-width:200px;" aria-label="Amount (to the nearest dollar)" @bind-value="@qtdMoedasSelected">
									<span class="input-group-text">$</span>
									<button class="btn btn-danger" type="button" id="button-addon2" @onclick="SangriaMoedas"><h5>Retirar <br/> Quantidade</h5></button>
								</div>
							</div>	
						</form>
					</div>
				</div>

				<!--Componente Gerar Troco-->
				<div class="col card bg-light mb-3" style="box-shadow: 10px 5px 5px black; min-width:350px; margin:1rem; text-align: center;">
					<div class="card-header">
						<h1><strong>Gerar Troco</strong></h1>
					</div>
					<div class="card-body">
						<form>
								<h5>Entre com o Valor Para Grerar o Troco:</h5>
								<div class="form-group">
								<fieldset class="form-group">
									<label for="customRange3" class="form-label"><h2>@nomesMoedas[@idMoedaSelected]</h2></label>
								</fieldset>

								<div class="input-group mb-3" style="display: flex; justify-content: center;">
									<span class="input-group-text">$</span>
										<input type="text" class="form-control" style="font-size: xx-large; text-align: center; max-width:200px;" aria-label="Amount (to the nearest dollar)" @bind-value="@vlrMoedaInputed">
									<button class="btn btn-secondary" type="button" id="button-addon2"><h5>Gerar Troco</h5></button>
								</div>
							</div>	
						</form>
					</div>
				</div>				
			</div>
		</div>
	</div>
</div>

@code {
	//Instanciação dos Da Classe Principal e a Classe q faz a conexão dom o Db.
	public List<Moeda> moedasCaixa = new List<Moeda>();
	MoedaLogic moedaLogic = new MoedaLogic();

	//Variáveis auxiliares do Caixa renderização de Elementos na tela
	static string nomeMoedaSelected { get; set; } = "";
	static int idMoedaSelected { get; set; } = 0;
	static int qtdMoedasSelected { get; set; } = 0;
	static double vlrMoedaInputed { get; set; } = 0.00;
	static List<string> nomesMoedas = new List<string>()
	{
		"R$1,00 Real",
		"R$0,50 centavos",
		"R$0,25 centavos",
		"R$0,10 centavos",
		"RS0,05 centavos",
		"R$0,01 centavo"
	};

	protected override async Task OnInitializedAsync()
	{
		Console.WriteLine("[Caixa] - Buscando info caixa Db");
		//Chamada do método que cusca as informações do Banco e Popula a tela;
		moedasCaixa = await moedaLogic.List();
	}

	private void AbasteceMoedas()
	{
		Console.WriteLine("[Caixa] - AbasteceMoeda");
		foreach (var moeda in moedasCaixa)
		{
			if (moeda.Id == idMoedaSelected)
			{
				moeda.Qtd += qtdMoedasSelected;
			}
		}
		qtdMoedasSelected = 0;
		//Envia o valor atualizado do caixa para o BD;
		//Atualiza a Pagina;
	}

	private void SangriaMoedas()
	{
		Console.WriteLine("[Caixa] - SangriaMoedas");
		foreach (var moeda in moedasCaixa)
		{
			if (moeda.Id == idMoedaSelected && moeda.Qtd > qtdMoedasSelected)
			{
				moeda.Qtd -= qtdMoedasSelected;
			}
		}
		qtdMoedasSelected = 0;
		//Envia os valores atualizados do caixa para o banco;
		//Atualiza a Pagina;
	}

	private void GeraTroco(double valorEntrada)
	{
		Console.WriteLine("[Caixa] - GeraTroco");
		//Copiar o Caixa, para verificar se a operação é viavel;
		List<Moeda> copiaCaixa = new List<Moeda>();
		copiaCaixa = moedasCaixa;

		foreach (var moeda in copiaCaixa)
		{
			double qtdMoedaTroco = valorEntrada / moeda.Valor;
			double restoDivisao = valorEntrada % moeda.Valor;
			if(moeda.Qtd > qtdMoedaTroco)
			{
				moeda.Qtd -= (int)qtdMoedaTroco;
				valorEntrada = restoDivisao;
			}
			else
			{
				break;
				//Mensagem de Alerta;(Não implementada);
			}
		}
		//Copia Lista de Moedas da Operação para Lista de Moedas Atual;
		moedasCaixa = copiaCaixa;
		//Função que envia operações para o banco;
		//Atualiza a Pagina;
	}
}